<ion-header>
  <app-header></app-header>
</ion-header>

<div class="container">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{'FIND' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!-- Warning Banner for Not Implemented
    <div class="warning-banner">{{ 'FUNCTIONS.NOT_IMPLEMENTED' | translate }}</div>-->

    <!-- Search Bar -->
    <ion-item>
      <ion-input placeholder="{{ 'FIND.ENTER_LAW' | translate }}" [(ngModel)]="text" (ionInput)="onInputChange()"></ion-input>
    </ion-item>

    <!-- Divider between search and results -->
    <ion-item-divider style="background: #b3d9e8;"></ion-item-divider>

    <!-- Search Results -->
    <ion-list class="ion-padding-top-bottom" *ngIf="matches.length > 0">
      <ion-item *ngFor="let match of matches" (click)="navigateToDetail(match)">
        <ion-label>
          <h2>{{ match.text }}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</div>