.scan-section {
  padding: 16px;
}

.error {
  color: red;
  font-style: italic;
}

ion-list {
  margin-top: 8px;
}

ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
}

ion-spinner {
  display: block;
  margin: 16px auto;
}

// New styling for custom links
.custom-link {
  --ion-text-color: var(--ion-color-step-50);
  --ion-item-color: var(--ion-color-step-50);

  &:hover,
  &:focus,
  &:active {
    --background: transparent;
    --ion-text-color: var(--ion-color-step-50);
    --color: var(--ion-color-step-50);
  }

  ion-label h2 {
    color: var(--ion-text-color);
  }
}