<app-header></app-header>

<div class="container">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{'USER' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="warning-banner">{{'FUNCTIONS.NOT_IMPLEMENTED' | translate}}</div>

    <form (ngSubmit)="onLogin()">
      <ion-item>
        <ion-label position="floating">{{'EMAIL' | translate}}</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
        <small *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</small>
        <small *ngIf="loginForm.get('email')?.errors?.['email']">Enter a valid email.</small>
      </ion-text>
  
      <ion-item>
        <ion-label position="floating">{{'PASSWORD' | translate}}</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
        <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</small>
      </ion-text>
  
      <ion-button expand="block" type="submit" [disabled]="loginForm.invalid">{{'LOGIN' | translate}}</ion-button>
    </form>
  </ion-content>
</div>