/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Quill Editor */
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';

/* COLORS
#15679c dark blue
#d6edf7 light blue
#105b85 btn-hoover etc
#b3d9e8 derived light blue (darker shade of #d6edf7 for toolbar in light mode)
#1e7ab2 derived dark blue (lighter shade of #15679c for toolbar in dark mode)
*/

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #15679c;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: left;
    align-items: center;
    height: 67px;
}

header h1 {
    margin: 0;
    color: #d6edf7;
    font-size: 2rem;
}

/* Container for Content */
.container {
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

ion-item {
    --border-style: none;
    --color: var(--ion-text-color);
}

body, ion-content, ion-label, ion-input, ion-button, ion-item-divider {
    font-size: var(--app-font-size);
    border: none;
    color: var(--ion-text-color);
}

ion-input {
    flex: 1;
    --color: var(--ion-text-color);
    --background: var(--ion-toolbar-background); 
}


button, ion-button {
    --background: #15679c; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover, ion-button:hover {
    --background: #105b85;
}

.logo {
    height: 3em;
    margin-right: 10px;
    vertical-align: middle;
}

.quill-editor {
    min-height: 200px;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;

    .ql-container {
        font-size: 16px;
        color: var(--ion-text-color) !important;
    }

    .ql-toolbar {
        border-bottom: 1px solid #ccc;
    }
}

/* Light Theme (Default) */
html, body {
    background-color: #d6edf7;
    --ion-background-color: #d6edf7;

    color: black;
}

ion-content {
    --background: #b3d9e8;
    --ion-background-color: #d6edf7;
}

ion-toolbar {
    --background: #b3d9e8;
    --color: black;
}

ion-item {
    --ion-item-background: #d6edf7;
}

/* Dark Theme */
html.dark-theme, body.dark-theme {
    background-color: #15679c;
    --ion-background-color: #15679c;
    --ion-text-color: white;
    color: white;
}

html.dark-theme ion-content, body.dark-theme ion-content {
    --background: #1e7ab2;
    --ion-background-color: #15679c;
}

html.dark-theme ion-toolbar, body.dark-theme ion-toolbar {
    --background: #1e7ab2;
    --color: white;
}

html.dark-theme ion-item, body.dark-theme ion-item {
    --ion-item-background: #1e7ab2;
    --color: var(--ion-text-color);
}

html.dark-theme ion-input, body.dark-theme ion-input {
    --color: var(--ion-text-color);
}

html.dark-theme ion-item ion-label ion-input , body.dark-theme ion-item ion-label ion-input  {
    --color: var(--ion-text-color);
}

/* Warning Banner */
.warning-banner {
    background-color: #ffcc00;
    color: white;
    padding: 30px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #e6ad00;
    border-radius: 5px;
    margin: 10px;
}

.warning-banner.dark-theme {
    color: black;
}

/* Toasts */
.warning-toast {
    --background: #aa0000;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #9e0202;
    border-radius: 5px;
    margin: 10px;
}

.info-toast {
    --background: #15679c;
    color: #d6edf7;
    text-align: center;
    padding: 10px;
    border: 1px solid #105b85;
    border-radius: 5px;
    margin: 10px;
}